.Rproj.user
.Rhistory
*.DS_Store
*.Rapp.history
*.Rproj
*.Rmd

#output/combined-*.csv
outfiles/
output/HPC/
output/combined-output.csv

# files
rerun.csv
rerun.sh
run-single-check.R
run-single.R
run-single.sh
summarize-Us.R
